@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}


@media (prefers-color-scheme: dark) {

    .dark input[type="date"]::-webkit-calendar-picker-indicator,
    .dark input[type="time"]::-webkit-calendar-picker-indicator {
        color-scheme: dark;
    }
}